@import url(https://fonts.googleapis.com/css?family=Lobster);

#logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#nav {
  position: absolute;
  top: 3%;
  left: 7%;
  font-size: 20px;
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

#nav a {
  text-decoration: none;
  color: #1e2134;
  margin-top: 10px;
  font: 100%/1 "Lobster", cursive;
}

#nav a:hover {
  color: #914f03;
  font-size: larger;
}
