body {
    background-color: #1e2134;
    color: #ffffff;
    margin: 0;
}

.voitures {
    width: 460px;
    height: auto; /* Réglez la hauteur sur auto pour maintenir les proportions */
}

.un {
    display: flex;
    flex-direction: column; /* Changez la direction pour empiler les éléments */
    align-items: center;
    gap: 20px;
    margin-top: 3%;
    border: 3px solid #ffd018;
    width: 80%;
    margin-left: 10%;
    background-color: #868f9e;
    border-radius: 5px;
    color: #ffffff;
    overflow: hidden; /* Empêche le débordement des éléments enfants */
}

.deux {
    display: flex;
    flex-direction: row; /* Remettre la direction à la valeur initiale si nécessaire */
    justify-content: center;
    gap: 20px;
    width: 100%; /* Utiliser toute la largeur disponible */
}

.trois,
.quatre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Utiliser toute la largeur disponible */
}

.Btn {
    border: 1px solid #ffd018;
    background-color: #914f03;
    color: #868f9e;
    border-radius: 5px;
}

/* Styles spécifiques pour les écrans plus petits (par exemple, mobile) */
@media screen and (max-width: 768px) {
    .un {
        width: 90%; /* Ajustez la largeur selon vos besoins */
    }
}
