img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.un{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50%;
    margin-top: 7%;
}

.deux{
    display: flex;
    flex-direction: row;
}

.trois{
    display: flex;
    flex-direction: column;
}

.quatre{
    display: flex;
    flex-direction: column;
}

form input .Btn{
    border: none;
}

