* {
  margin: 0;
  padding: 0;
}

.un {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50%;
  margin-top: 7%;
}

.deux {
  display: flex;
  flex-direction: row;
}

.trois {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quatre {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
